<h3>Welcome To E- Learn</h3>
  Achref
	<p> learn new corses with us, learn new corses with us, learn new corses with us,
		 learn new corses with us, learn new corses with us, learn new corses with us
		  learn new corses with us, learn new corses with us, learn new corses with us
			 learn new corses with us, learn new corses with us, learn new corses with us,
			  learn new corses with us, learn new corses with us</p>
				<a class="button" href="/users/register">Sign up for free</a>
				<p>You nead to sign up to register for a free Classes</p>

<div class="slider" id="slider">
  	{{#each classes}}
      <div>
        <h1>Class Title : {{title}}</h1>
        <p>Instructor : {{instructor}}</p>
         <a  href="/classes/{{_id}}/details"class="btn btn-primary"><i class="fa fa-plus-square"></i> View Class</a>
      </div>
  	{{/each}}
  
</div>



<script>
var $slider = $("#slider");
$slider.
on('init', function () {
	mouseWheel($slider);
}).
slick({
	dots: true,
	vertical: true,
	infinite: false });

function mouseWheel($slider) {
	$(window).on('wheel', { $slider: $slider }, mouseWheelHandler);
}
function mouseWheelHandler(event) {
	event.preventDefault();
	var $slider = event.data.$slider;
	var delta = event.originalEvent.deltaY;
	if (delta > 0) {
		$slider.slick('slickPrev');
	} else
	{
		$slider.slick('slickNext');
	}
}

</script>
