    <h2>   {{student.first_name}} 's Classes </h2>

    <table class="table table-bordered" cellspacing="0" cellpadding="0"> 
        <thead> 
            <tr class="table-primary">
                <th scope="col">Class Id</th>
                <th scope="col">Class Name</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody> 
            {{#each student.classes}}
                <tr>
                    <td>{{class_id}}</td>
                    <td> {{class_title}}</td>
                    <td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>