
<link rel="stylesheet" type="text/css" href="/stylesheets/game_layout.css" media="all" />  

<div class="container">

  <div class="info">
    <h1> Play Our Games </h1><span>Made with <i class='fa fa-heart animated infinite pulse'></i> by <a href='http://andy.design'>Med Achref</a> | Designed by <a href='http://justinkwak.com'>Med Achref</a></span>
  </div>
  <!-- Normal Demo-->
  <div class="column">
    <div class="demo-title">Snake</div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="date">
          <div class="day">27</div>
          <div class="month">Mar</div>
        </div><img src="/images/snake.png"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Games</div>
        <h1 class="title">Snake Game</h1>
        <h2 class="sub_title">Graete and simple snake game</h2>
        <p class="description">Graete and simple snake game made with javascript and css fast and enjoyable.</p>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-play"></i><a href="/games/snake"> Play it</a></span></div>
      </div>
    </div>
  </div>

    <!-- Normal Demo-->
  <div class="column">
    <div class="demo-title">Memory Game</div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="date">
          <div class="day">27</div>
          <div class="month">Mar</div>
        </div><img src="/images/memory.png"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Games</div>
        <h1 class="title">Memory Game</h1>
        <h2 class="sub_title">Very chalenging Memory Game.</h2>
        <p class="description"> This Memory Game is Very Challanging and can frustrate you so be awre dont break your pc</p>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-play"></i><a href="/games/Memory"> Play it</a></span></div>
      </div>
    </div>
  </div>
  <br>

  <!-- Normal Demo-->
  <div class="column">
    <div class="demo-title">warm Or Cool Game</div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="date">
          <div class="day">27</div>
          <div class="month">Mar</div>
        </div><img src="/images/warm.png"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Photos</div>
        <h1 class="title">warm Or Cool Game</h1>
        <h2 class="sub_title">warm Or Cool Game very simple and fun .</h2>
        <p class="description">this warm or cool game is made with javascript and css very simple and fun.</p>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-play"></i><a href="/games/worm_cool"> Play It</a></span></div>
      </div>
    </div>
  </div>

   <!-- Normal Demo-->
  <div class="column">
    <div class="demo-title">Math Game</div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="date">
          <div class="day">27</div>
          <div class="month">Mar</div>
        </div><img src="/images/math.png"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Games</div>
        <h1 class="title">Math Game</h1>
        <h2 class="sub_title">Great and simple Math game</h2>
        <p class="description">Graete and simple Math game made with javascript and css fast and enjoyable.</p>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-play"></i><a href="/games/Math"> Play it</a></span></div>
      </div>
    </div>
  </div>


</div>
<script>

    $(window).load(function() {
  $('.post-module').hover(function() {
    $(this).find('.description').stop().animate({
      height: "toggle",
      opacity: "toggle"
    }, 300);
  });
});

</script>