
<link rel="stylesheet" type="text/css" href="/stylesheets/Mathcss.css" media="all" />   



<div id="game" class="wrapper"></div>

<script type="text/javascript" src="/javascripts/Math.js"></script>   