
<link rel="stylesheet" type="text/css" href="/stylesheets/Memorycss.css" media="all" />   



<div class="wrap">
<div class="game"></div>
	
	<div class="modal-overlay">
		<div class="modal">
			<h2 class="winner">You Rock!</h2>
			<button class="restart">Play Again?</button>
			<p class="message">Developed on <a href="https://Achref.io">Achref</a> by <a href="https://codepen.io/achref">achref</a></p>
			<p class="share-text">Share it?</p>
		
		</div>
	</div>
  <footer>
	
	</footer>
  </div><!-- End Wrap -->
<script type="text/javascript" src="/javascripts/Memory.js"></script>   