<!DOCTYPE html>
<html>
	<head>
		<title>Dynamic Quiz Project</title>
		<link type='text/css' rel='stylesheet' href="/stylesheets/quiz.css"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
	</head>
	<body>
		<div id='container'>
			<div id='title'>
				<h1>Learning Js Properly: Project #1 - Dynamic Quiz</h1>
			</div>
   			<br/>
  			<div id='quiz'></div>
    		<div style="padding-left: 50px;" id='next'><a href='#' class='btn btn-light' style="float: right">Next</a></div>
    		<div id='prev'><a href='#' class='btn btn-light' style="float: right">Prev</a></div>
    		<div class='button' id='start'> <a href='#'>Start Over</a></div>
    		<!-- <button class='' id='next'>Next</a></button>
    		<button class='' id='prev'>Prev</a></button>
    		<button class='' id='start'> Start Over</a></button> -->
    	</div>


		<script type='text/javascript' src="/javascripts/quizMath.js"></script> 
	</body>
</html>
