<link rel="stylesheet" type="text/css" href="/stylesheets/snakecss.css" media="all" />   

<script type="text/javascript" src="/javascripts/snake.js"></script>   

<h3>Simple Snake Game</h3>
<canvas id="stage" height="400" width="520"></canvas>