

<link rel="stylesheet" type="text/css" href="/stylesheets/worm_cool.css" media="all" />  
 
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>

<div class="game">
  <div class="instructions">
    <span>Click the...</span>
    <span class="temperature"></span>
  </div>
  <div class="board">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <span class="feedback"></span>
</div>

<script type="text/javascript" src="/javascripts/worm_cool.js"></script>   