  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<h2>Add new Classes</h2>

      <form action="/{{user}}s/classes/new" method="POST">
            <label for="title">title :</label>
            <br>
            <input type="text" name="title">
             <br>
            <label for="description">description :</label>
             <br>
            <input type="text" class="form-control" name="description">
             <br>
            <input type="hidden" class="form-control" name="instructor" value="{{user}}">
            
          <div class="container">
                  <strong>Select Language:   </strong>
                  <select class="form-control" name="selected_s" id="multiple-checkboxes" multiple="multiple">
                        {{#each specialite}} 
                               <option name="selected_s" value="{{_id}}">
                                     {{nom_specialite}}
                               </option>
                        {{/each}}
                      
                  </select>
             </div>

             <br>
            <input type="submit" name="submit" class="button red pill" >
        </form>

      <script type="text/javascript">
            $(document).ready(function() {
                  $('#multiple-checkboxes').multiselect();
            });
      </script>