
<h2>Add Lessions</h2>

<form 
	id="regForm" method="post"
    action="/instructors/classes/{{class_id}}/lessons/new"
	enctype="multipart/form-data">
	
	<div class="form-group">
		<label>Lesson number: </label>
		<input style="max-width: 250px;" class="form-control" type="text" name="lesson_number">
	</div><br />

    <div class="form-group">
		<label>Lesson Title: </label>
		<input style="max-width: 250px;" class="form-control" type="text" name="lesson_title">
	</div><br />

    <div class="form-group">
		<label>Lesson body: </label>
		<textarea style="max-width: 650px; max-height: 400px; min-height: 350px;" class="form-control" type="text" name="lesson_body"></textarea>
	</div><br />

	<div class="form-group">
		<label for=""> <b>Upload a File :</b> </label>
		 <div class="row">
             <input style="max-width: 250px;" class="form-control" type="file" name="lesson_file" />
          </div>
	</div>
	
	<div class="form-group" style="width: 600px;">
		<input style="float: right;" class="btn btn-primary" type="submit" value="ADD Lesson ">
	</div>
</form>
