<h2>le file</h2>
le titre class
{{class.title}}
<hr>
<hr>
le titre lesson
{{lesson.lesson_title}}
<hr>
lesson file <br>
{{lesson.lesson_file}}
<a href="/files/lessons/{{lesson.lesson_file}}.pdf">Open Pdf</a>